.MainSection {
  background-color: lightgray;
  height: 700px;
  display: flex;
  gap: 20px;

  border: 5px solid black;
  margin: 10px;
}

.MainSection > * {
  flex: 1;
}

.MainSection-Aside {
  display: flex;
  flex-direction: column;
}

.MainSection-Aside > *:first-child {
  flex: 3;
}

.MainSection-Aside > *:last-child {
  flex: 1;
}

.MainSection-NextButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
