.TopBar {
  border-bottom: 2px solid black;
  padding: 20px;
}

.TopBar-Menu {
  text-align: right;
}

.TopBar-Menu button {
  padding: 0 5px;
  background-color: transparent;
}

.TopBar-Menu button:hover {
  cursor: pointer;
}
